@font-face {
    font-family: wickedGrit;
    /*font-family: IM Fell DW Pica SC,georgia,rockwell,didot,bookman old style,courier,arial,helvetica;*/
    font-style: normal;
    font-weight: 400;
    src: url("/static/fonts/WickedGrit.ttf");
    /*local('IM FELL DW Pica SC'), local('IM_FELL_DW_Pica_SC');, url(https://fonts.gstatic.com/s/imfelldwpicasc/v9/0ybjGCAu5PfqkvtGVU15aBhXz3EUrnTm_xKNM0uRGQ.woff) format('woff');*/
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.bngNavbar {
    background-color: rgb(155, 155, 155);
    color: black;
    min-height: 7%;
}

.bngNavbar a {
    color: black;
}

.bngNavbar a:hover {
    color: yellow;
}

.nav-item {}

.nav-link {}

table {
    width: 60%;
    table-layout: fixed;
}

th,
td {
    margin: 10px
}

.center {
    margin: auto;
    /* width: 60%;
    border: 5px solid #FFFF00;
    padding: 10px; */
}

.western {
    background-color: brown;
    color: yellow;
}

.scifi {
    background-color: black;
    color: greenyellow;
}

.fantasy {
    background-color: purple;
    color: gold;
}

.postApocalyptic {
    background-color: rgb(124, 255, 107);
    color: rgb(122, 18, 202);
}

.overlayElement {
    border: 2px solid rgb(142, 166, 175);
    text-align: center;
    background-color: whitesmoke;
    /* width: 70%; */
    /* margin: 10% auto; */
    /* background: rgba(31, 38, 56, 0.514); */
    /* background: pink; */
    /* position: absolute; */
    justify-content: center;
    align-items: center;
    position: fixed;
    /* display: flex; */
    /* overflow: scroll; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin: 10%; */
    /* margin-right: -50%; */
    border-radius: 15px;
}

.translucent {
    background: rgba(9, 49, 141, 0.3);
}

.diceButton {
    background-color: red;
    color: white;
    border-radius: 15px;
    border: solid black 3px;
    margin: 4px;
}

.itemP {
    color: black;
    border-top: dotted black 1px;
    margin: 1px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.specButton {
    background-color: blue;
    color: white;
    border-radius: 15px;
    border: solid black 3px;
    margin: 4px;
    width: 100%;
}

.specDiv {
    border: solid black 1px;
    padding: 5px;
    width: 65%;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
}

.specTitle {
    font-family: WickedGrit;
    border-bottom: black dotted 1px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.nameDiv {
    border: solid black 3px;
    color: darkred;
    padding: 5px;
    width: 80%;
    left: 50%;
    margin: auto;
    font-family: WickedGrit;
    font-size: larger;
}

.classDiv {
    color: black;
    width: 80%;
    left: 50%;
    margin: auto;
    font-family: WickedGrit;
    font-size: medium;
    padding: 3px;
}

.statButton {
    background-color: blue;
    color: white;
    border-radius: 15px;
    border: solid black 3px;
    margin: 4px;
    width: 20%;
    min-width: 150px;
    font-family: WickedGrit;
}

.toTest {
    font-size: x-small
}

.hpDiv {
    /* background-color: blue;
    color: white;
    border-radius: 15px; */
    border: solid black 1px;
    padding: 5px;
    width: 30%;
    /* left: 50%; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
    font-family: WickedGrit;
}

.myFooter {
    background-color: black;
    color: green;
}

.catagoryTitle {
    font-family: WickedGrit;
    font-size: x-large;
    width: 100%;
}