{% extends "layout.html" %}

{% block format %}class="rules"{% endblock %}

{% block title %}
    Index:
{% endblock %}

{% block main %}
    <h1 class="rulesh1">
        Pocket Cosmos Micro Online RPG
    </h1>
</br>
    <p class="rulesp">Pocket Cosmos Mircro is a role playing game. Head over to the rules section to see how it's played.</p>
    <p class="rulesp">When you're ready, players make yourself a PC and get ready to play. GMs go to the GM section to set up any NPCs you'll need.</p>
    <p class="rulesp">You're set!</p>

{% endblock %}