{% extends "layout.html" %}

{% block title %}
    Make PC:
{% endblock %}

{% block main %}
    Make A PC</br>
    Warning: This site does not store permanent information on your device. Making a new PC will erase any current PC you have in play.</br></br>
    <form action="/fantasyPC" method="post">
        <button class="fantasy" type="submit">Make a fantasy PC</button>
    </form>
    <form action="/westernPC" method="post">
        <button class="western" type="submit">Make a western PC</button>
    </form>
    <form action="/scifiPC" method="post">
        <button class="scifi" type="submit">Make a sci-fi PC</button>
    </form>
    <form action="/postApPC" method="post">
        <button class="postApocalyptic" type="submit">Make a post-apocalyptic PC</button>
    </form>
{% endblock %}