{% extends "layout.html" %}

{% block title %}
   PC MAIN:
{% endblock %}

{% block main %}

   {% if pc %}

      <div class="nameDiv">
      {{ pc["name"]}}</br>
      </div>
      <div class="classDiv">Class: {{ pc["cClass"]}}</div>
      <button class="statButton" id="strB">STR: {{ pc["strength"]}}</br><p class="toTest">click to test</p></button>
      <button class="statButton" id="dexB">DEX: {{ pc["dexterity"]}}</br><p class="toTest">click to test</p></button>
      <button class="statButton" id="intB">INT: {{ pc["intel"]}}</br><p class="toTest">click to test</p></button>
      <button class="statButton" id="preB">PRE: {{ pc["presence"]}}</br><p class="toTest">click to test</p></button>

      <script>
         var localCurrentHP = {{ pc["currentHP"]}};
         var localMoney = {{ pc["money"]}};

         const strB = document.getElementById("strB");
         const dexB = document.getElementById("dexB");
         const intB = document.getElementById("intB");
         const preB = document.getElementById("preB");

         strB.addEventListener('click', function(){ popoverDice("STR", {{ pc["strength"]}}) }, false);

         dexB.addEventListener('click', function(){ popoverDice("DEX", {{ pc["dexterity"]}}) }, false);

         intB.addEventListener('click', function(){ popoverDice("INT", {{ pc["intel"]}}) }, false);

         preB.addEventListener('click', function(){ popoverDice("PRE", {{ pc["presence"]}}) }, false);

         function setCurrentHP(newHP) {
            document.getElementById("currentHPspan").value = newHP;
            localCurrentHP = newHP;
            document.getElementById("currentHPspan").innerHTML = "Current HP: " + localCurrentHP;
         }

         function addOneToHP() {
            if  (localCurrentHP < {{ pc["hp"]}}) {
               setCurrentHP(localCurrentHP + 1);
            }
               
         }

         function subtractOneFromHP() {
            if  (localCurrentHP > 0) {
               setCurrentHP(localCurrentHP - 1);
            }
               
         }



         function setMoney(newMoney) {
            localMoney = newMoney;
            document.getElementById("moneySpan").innerHTML = localMoney;
         }

         function addToMoney(amount) {
            if (localMoney + amount >= 0) {
               setMoney(localMoney + amount);
            }
         }

      </script>

            
      {% if pc["genre"] is defined and pc["genre"]=="horror" %}
         SAN: {{ pc["sanity"] }}
      {% endif %}</br></br>

      <div>
         <div class="hpDiv">
            HP Max: {{ pc["hp"]}} 
         </div>  
         <div class="hpDiv">
            <span id="currentHPspan">Current HP: {{ pc["currentHP"]}}</span></br>
            <button onclick="addOneToHP()">+</button>
            <button onclick="subtractOneFromHP()">-</button>
         </div>
      </div>
   </br></br>
      {% if pc["specials"] is defined and pc["specials"]|length > 0 %}
         <span class="catagoryTitle">Special Abilities</span></br>
         {% for special in pc["specials"] %}

            
            <div class="specDiv">
               <div class="specTitle">{{ special["name"] }}</div>
               {{ special["description" ]}}
            </div>

          {% endfor %}
            </br>
      {% endif %}

      {% if pc["spells"] is defined and pc["spells"]|length > 0 %}
         <span class="catagoryTitle">Spells</span></br>
         {% for spell in pc["spells"] %}

            
            <div class="specDiv">
               <div class="specTitle">{{ spell["name"] }}</div>
               {{ spell["description" ]}}
            </div>

          {% endfor %}
            </br>
      {% endif %}
      
      {% if pc["weaponPro"] is defined and pc["weaponPro"]|length > 0 %}
         <div class="specDiv">
            <div class="specTitle">Weapon Proficiency</div>
            {{ pc["weaponPro"]|join(' ') }}</br>
         </div>

      {% endif %}

      {% if pc["weaponMast"] is defined and pc["weaponMast"]|length > 0 %}
         <div class="specDiv">
            <div class="specTitle">Weapon Masteries</div>
            {{ pc["weaponMast"]|join(' ') }}</br>
         </div>
      {% endif %}

      {% if pc["armorPro"] is defined and pc["armorPro"]|length > 0 %}
         <div class="specDiv">
         <div class="specTitle">Armor Proficiency</div>
         {{ pc["armorPro"]|join(' ') }}</br>
         </div>
      {% endif %}

      {% if pc["languages"] is defined and pc["languages"]|length > 0 %}
         <div class="specDiv">
         <div class="specTitle">Languages</div>
         {{ pc["languages"]|join(', ') }}</br>
         </div>
      {% endif %}

      <div class="specDiv">
         <div class="specTitle">Money</div>
         <span id="moneySpan">{{ pc["money"]}}</span></br>
         <button onclick="addToMoney(-10)">-10</button>
         <button onclick="addToMoney(-1)">-1</button>
         <button onclick="addToMoney(1)">+1</button>
         <button onclick="addToMoney(10)">+10</button>
      </div>
      </br>

      {% if pc["inventory"] is defined and pc["inventory"]|length > 0 %}
         <div class="specDiv">
         <div class="specTitle">Inventory</div>
         {% for item in pc["inventory"] %}
         <p class="itemP"> {{ item }} </p>
         {% endfor %}
         </div>
      {% endif %}

      {% if texts is defined and texts|length > 0 %}
    ...
      {% endif %}

      {% if texts is defined and texts|length > 0 %}
    ...
      {% endif %}

      {% if texts is defined and texts|length > 0 %}
    ...
      {% endif %}

      {% if texts is defined and texts|length > 0 %}
    ...
      {% endif %}

      {% if texts is defined and texts|length > 0 %}
    ...
      {% endif %}


      <article id="characterMakerArticle">
         <div class="container" id="container"></div>
         <!-- <div class="container" id="container"></div>
         
         <div class="buttonPanel panel" id="buttonPanel">
             
         </div> -->

         <div class="characterPanel panel" id="characterViewPanel">

         </div>


     </article>

   {% else %}
      PC MAIN PLAY SCREEN
   {% endif %}
{% endblock %}