{% extends "layout.html" %}

{% block title %}
    Fantasy PC Creator
{% endblock %}

{% block format %}class="rules"{% endblock %}

{% block main %}

    <h1 class="rulesh1">The Basic Game</h1>

    <h2 class="rulesh2">Overview</h2>
    <h4 class="rulesh4">Requirements</h4>
    <p class="rulesp">Rules. If you’re reading this book, then you’ve already got them.
        Pencil &#38; Paper. You’ll need plenty of these. Everyone will have to write stuff down.
        4 Six-Sided Dice. These are your regular old dice with pips on them. You can scavenge them from lots of old games. More is better. Four for every player is excellent. And it’s ideal if one of every four is a different color.
        </p>

        <h4 class="rulesh4">Group Prep</h4>
        <p class="rulesp">Decide who is going to be the Game Master (GM).
            Everyone else is a Player Character (PC).
            The GM decides what the basic adventure elements will be prepares to narrate the world for the Players’ Characters (PCs).
            </p>

        <h4 class="rulesh4">GM Prep</h4>
    <p class="rulesp">The Game Master either thinks up an adventure ahead of time or makes it up as the players go along. They will describe the adventure action to the players as it happens, including all narrative events and the actions of all Non-Player Characters (NPCs), give them time to react, and judge how the actions of the PCs affect the story.</p>

    <h4 class="rulesh4">PC Prep</h4>
    <p class="rulesp">Each Player will make a Player Character (or PC) to play in the game. They must give the PC scores for personal Attributes, Health Points, an inventory of belongings, a language or two, and a name. They will describe how their PC reacts to the adventure described by the GM. This includes dialogue with Non-Player Characters (NPCs), interacting with people, objects, and events, and taking risky, or even dangerous, action.</p>

    <h4 class="rulesh4">Dice Rolling</h4>
    <p class="rulesp">Any time the outcome of an action is unsure, the Player (or sometimes the GM) rolls a Check Roll. The very most basic Check Roll is made by rolling 2 six-sided dice. 5s and 6s are Successes. If either of the dice come up showing a 5 or 6, the action succeeds. If there are no fives or sixes, the action fails, and there are consequences. That’s it. There may be modifiers to the roll, but this is its simplest form.</p>

    <h2 class="rulesh2">Creating a Basic Character</h2>

    
    <h3 class="rulesh3">Attribute Scores</h3>
    <p class="rulesp">Every Player’s Character (PC) has four attributes: Strength (STR), Dexterity (DEX), Intelligence (INT), and Presence (PRE). Each will have a number value between 1 and 6. A higher number represents a better ability. Their general uses are explained below.</p>
    <p class="rulesp">A player has two choices for how to generate these values:</p>
    <ol class="rulesol">
        <li>They may distribute 14 points between the attributes as they see fit.</li>
        <li>They may roll four d6 and assign each of the rolled numbers to one of their attributes, as they like.</li>
    </ol>
    <p class="rulesp">Record the attributes and their values on a blank piece of paper, or on a printed character sheet.
        When a player uses one of their Attributes in a task, the Attribute may be tested with a Check roll. 
        Examples:
        </p>

        <ul class="rulesul">
            <li>STR: lifting, punching, breaking, melee attacks, enduring, etc.</li>
            <li>DEX: balancing, fine motor skills, ranged attacks, sneaking, etc.  </li>
            <li>INT: figuring stuff out, knowing things, magic use, etc. </li>
            <li>PRE: awareness, social presence, keeping one’s cool, intimidation, seduction, etc. </li>
        </ul>

    <h3 class="rulesh3">Health Points</h3>
    <p class="rulesp">Health Points (HP) are a measure of how healthy or injured a PC is. At first creation, a character has a Maximum number of Health Points equal to 6 plus twice their STR value. In other words, HP = (STR * 2) +6.
        On gaining a new level adds STR value to HP.
        Damage taken by a PC is subtracted from their Current Health Points. If their Current Health Points drop to 0, they are unconscious or dead.
        When a PC heals, they regain HP up to, not beyond, their maximum score.
        </p>

    <h3 class="rulesh3">Equipment &#38; Inventory</h3>
    <p class="rulesp">Players list the items they carry with them. These are written into the Inventory on the Character Sheet. Give your character some stuff! The number of items you can carry on your person is equal to 10 + your STR value, provided you have somewhere to put it all. Large items may count as 2 or more items, at the GM’s discretion. Similarly, multiple small items, like a bag of stones, may be grouped into one item spot.
        Items stowed in a backpack or sack take 1 turn to retrieve. 
        Worn clothing doesn’t count against your total items unless it is cumbersome. Light Armor takes 1 slot, Medium Armor takes 2, and Heavy Armor takes up 3 slots.
        </p>

    <h3 class="rulesh3">Money</h3>
    <p class="rulesp">Money is abstract in the basic game. You’re assumed to have a place to live, and normal possessions. Expensive and exotic items must be approved by the GM.</p>

    <h3 class="rulesh3">Languages</h3>
    <p class="rulesp">Decide what language your PC speaks. If your INT is 5, you may choose an extra language. If your INT is 6, you may choose 2 extra Languages.</p>

    <h3 class="rulesh3">Name</h3>
    <p class="rulesp" style="text-align: center;">Give your character a name.</p>

    <h2 class="rulesh2">Playing the Game</h2>
    <p class="rulesp">The GM describes the world that the PCs see in front of them, and any events that happen. The players react to the world by describing what their PCs do and say. The GM then describes the outcome of their actions.
        If the success of any action a PC takes is uncertain, the player must roll some dice, known as making a CHECK ROLL, to see what happens. A successful roll means they succeed at the attempt. A failed roll means they don’t, and they suffer whatever consequences arise.
        </p>

    <h3 class="rulesh3">Check Roll</h3>
    <h4 class="rulesh4">The basic Check Roll works like this:</h4>
    <ul class="rulesul">
        <li>Determine which attribute is most responsible for the kind of action the PC is taking.</li>
        <li>Roll 2 dice.</li>
        <li>If the dice show any 5s or 6s, the attempted action succeeds.</li>
        <li>If there are no 5s or 6s on either dice, the attempt fails, and something bad results.</li>
    </ul>
    <p class="rulesp">There are possibly modifiers Check rolls, though, as follow.</p>

    <h4 class="rulesh4">Attribute Modifier</h4>
    <ul class="rulesul">
        <li>If the attribute being tested is Low (having a value of 1 or 2), only 6s are Successes.</li>
        <li>If the attribute being tested is High (having a value of 5 or 6), 4s, 5s, and 6s are Successes.</li>
    </ul>

    <h4 class="rulesh4">Advantage/Disadvantage</h4>
    <ul class="rulesul">
        <li>If the PC has any kind of Advantage due to better positioning, good planning, special equipment, or help, the PC has advantage and may roll 3 dice instead of 2.</li>
        <li>If the PC has any overall Disadvantage due to inferior positioning, poor timing, bad planning, broken or missing equipment, etc., the PC has DISADVANTAGE and must make the roll with only 1 die instead of 2.</li>
        <li>Advantage and Disadvantage are determined by the GM by totaling up the number of advantages and disadvantages to figure out if they come out even, or tip one way or the other.</li>
    </ul>

    <h3 class="rulesh3">Opposed Roll</h3>
    <p class="rulesp">If the character is vying with another character or NPC in some way, just looking at the relevant Attributes and the situation might be enough to determine who wins. But when the situation is more dynamic, and there is a chance, even a slim one, that the weaker may win, the GM can call for an Opposed Roll.</p>
    <ul class="rulesul">
        <li>Both characters roll a Check of the appropriate Attribute.</li>
        <li>The character whose dice show the most successes wins the contest.</li>
        <li>All attribute, skill, and advantage/disadvantage modifiers apply to the rolls.</li>
        <li>If the roll is a tie, there is no winner. The characters may break from the action or continue and roll again.</li>
    </ul>

    <p class="rulesp">Alternate Idea:</p>
    <ul class="rulesul">
        <li>Each Character rolls 1d6 for each point of the relevant Attribute.</li>
        <li>Remove 1d6 for Disadvantage, Add 1d6 for Advantage.</li>
        <li>Highest number of 5s and 6s showing wins.</li>
    </ul>

    <h3 class="rulesh3">Danger Die</h3>
    <p class="rulesp">Any time you throw a check roll, the GM may also ask you to throw the Danger Die. It should be of a different color than the rest of the dice, or thrown to the side, so that you can tell which one it is. If a thrown Danger Die shows a 1, something bad happens to complicate the situation (GM’s discretion) in addition to the success or failure of the roll. If the Danger Die shows a 6, something good happens. The Danger Die may also be used by the GM to give more nuance to the outcome of a Check, lower numbers being less successful and higher being more successful. </p>

    <h3 class="rulesh3">Basic Combat</h3>
    <p class="rulesp">Combat happens in Turns. Determine which side will go first (PCs or Enemies) by circumstance or a roll of the dice. Players may then set their own turn order for the rest of the combat. The GM will determine the order of the NPCs. Write the turn order down.</p>

    <h4 class="rulesh4">Turn Composition</h4>
    <p class="rulesp">During their Turn in Combat, a PC or NPC may Move up to 3m and perform one Action in any order they like.</p>
    <h4 class="rulesh4">Actions</h4>
    <p class="rulesp">An Action is simple, without complicated steps. It might be a melee attack, a ranged attack, casting a spell, changing weapons, opening a chest or door, getting something out of a pocket or backpack, etc.</p>
    <h4 class="rulesh4">Attack Roll</h4>
    <p class="rulesp">The success of an attack is determined by a Check Roll. The Attribute checked depends on the kind of attack. Ranged Attacks may be made from any reasonable distance (not too far or too close, depending on the weapon) using a ranged weapon (bow, gun, etc.). Melee Attacks are made up close, either bare-handed or with hand weapons (swords, clubs, daggers, etc.).</p>

    <ul class="rulesul">
        <li>Melee Attacks require a STR check roll.</li>
        <li>Ranged Attacks require a DEX check roll.</li>
    </ul>

    <h3 class="rulesh3">Monsters in Combat</h3>
    <p class="rulesp">For casual play, all NPCs and Monsters use a regular 2 dice check roll for both melee and ranged attacks, and succeed on 5 or 6. Advantage and Disadvantage apply as usual. The GM may, at their discretion and based on the intensity of the game, use the enemy’s Attributes to determine modifiers to the roll.</p>
    <h4 class="rulesh4">To Target (TT)</h4>
    <p class="rulesp">TT is a Statistic listed in the Bestiary tables. It is how easy or difficult this creature is to hit with an attack. TT is based upon size and speed. In general, enemies that are fast and/or small are rated HARD to target, and enemies that are really big and/or slow are rated EASY to target. A mouse is harder to hit than an elephant.</p>

    <ul class="rulesul">
        <li>If the enemy is HARD to target, the attacker suffers Disadvantage. </li>
        <li>If the enemy is EASY to target, the attacker gains an Advantage. </li>
    </ul>

    <h3 class="rulesh3">Combat Damage</h3>
    <p class="rulesp">After a successful attack, the attacker rolls to see how much damage they do to their target. Damage depends upon the type of weapon used.</p>

    <ul class="rulesul">
        <li>Unarmed: 1d6-3, minimum damage 1</li>
        <li>Light Weapons: 1d6-2, minimum damage 1
            (dagger, blackjack, brass knuckles, sling, staff, etc.)
            </li>
        <li>Medium Weapons: 1d6
            (sword, axe, pistol, bow, mace, etc.)
            </li>
        <li>Heavy Weapons: 1d6+2
            (two-handed sword, battle axe, rifle, shotgun, etc.)
            </li>
        <li>Heavier Weapons: as specified by GM</li>
    </ul>

    <h4 class="rulesh4">Monster Damage</h4>
    <p class="rulesp">Unless specified otherwise, all monster attacks do damage of 1d6.</p>

    <h3 class="rulesh3">Armor</h3>
    <p class="rulesp">Armor reduces the damage done by a successful hit as follows:</p>

    <ul class="rulesul">
        <li>Light Armor: 1 point reduction</li>
        <li>Medium Armor: 2 points reduction</li>
        <li>Heavy Armor: 3 points reduction</li>
    </ul>

    <p>Armor may reduce the damage of a successful hit to 0. 
        In NPC and Monster listings, Armor is noted as AV (Armor Value) followed by the number of damage points subtracted from every successful attack.
        </p>

    <h3 class="rulesh3">Weapon Proficiency</h3>
    <p class="rulesp">Some characters are allowed to choose one or more classes of weapons with which they are Proficient. When using any weapon they’re not specifically Proficient with, a character is considered to be Non-Proficient. Advanced study may allow a PC to gain a proficiency rating of Master.</p>

    <ul class="rulesul">
        <li>If a PC or NPC is Proficient with a weapon, they may attack with it by making a normal STR or DEX check, for melee or ranged weapons respectively.</li>
        <li>If they are Non-Proficient, they attack with Disadvantage. </li>
        <li>A rating of Master with a weapon grants the PC Advantage on attacks.</li>
    </ul>

    <h3 class="rulesh3">Unconsciousness & Death</h3>
    <p class="rulesp">If a PC or NPC falls to 0 HPs, they become unconscious. During combat and depending on the type of wounds (at the GM’s discretion), they will die in three turns unless another PC gets to them and stabilizes them. If attended with care, the PC will regain consciousness and 1 HP. When combat ends, any PC with 0 HP is out of danger but still must be attended to regain consciousness.</p>

    <h3 class="rulesh3">Rest & Healing</h3>
    <p class="rulesp">After a Long Rest (a full eight-hours) in a safe place, a PC may roll a number of d6 equal to their level and add that to their Current HP total. For example, a 3rd Level PC would roll 3d6 points worth of healing after an 8-hour rest. Resting cannot raise a PC’s HP above their Maximum.</p>



{% endblock %}